@import '../../theme-variables.scss';

.top-nav {
  box-shadow: 0.1em 0 0.5em rgba(0, 0, 0, 0.2);
  padding: 1em;
  margin-bottom: 1em;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;  

  .nav-menu-item {
    margin-left: 1.5em;
    position: relative;
    font-weight: bold;

    &.active,
    &:hover {
      color: $primary-color;
      
      &::after{
        content: "";
        position: absolute;
        height: 0.2em;
        width: 100%;
        left: 0;
        background-color: $primary-color;
        bottom: -0.2em;
        border-radius: 100%;
      }

    }
  }
}
