@import '../../theme-variables.scss';

.top-nav {
  box-shadow: 0.1em 0 0.5em rgba(0, 0, 0, 0.2);
  padding: 1em 2em;
  margin-bottom: 1em;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 5;

  .logo{
    height: 2em;
  }

  .nav-menu-item {
    margin-left: 1.5em;
    position: relative;
    font-weight: bold;

    &.active,
    &:hover {
      color: $primary-color;

      &::after {
        content: '';
        position: absolute;
        height: 0.2em;
        width: 100%;
        left: 0;
        background-color: $primary-color;
        bottom: -0.2em;
      }
    }
  }

  .drop-container {
    cursor: pointer;

    &:hover .drop-down {
      display: block;
    }

    .drop-down {
      background-color: white;
      position: absolute;
      box-shadow: 0 0.2em 0.5em rgba(0, 0, 0, 0.2);
      display: none;
      right: 0;
      min-width: 200px;
      z-index: 5;

      .drop-down-item {
        padding: 0.8em 0.5em;

        &:hover {
          background-color: rgba(0, 0, 0, 0.1);
        }
      }
    }
  }
}

.profile-image {
  height: 2.5em;
  width: 2.5em;
  border-radius: 100%;
}

// Mobile screen
@media only screen and (max-width: 600px) {
  .top-nav {
    padding: 0.5em 1em;

    .overlay {
      width: 100vw;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.2);
      position: absolute;
      z-index: 4;
      left: 0;
      top: 0;
      display: none;

      &.open {
        display: block;
      }
    }

    .nav-left {
      position: absolute;
      left: 0;
      top: 0;
      background: white;
      box-shadow: 0 0.2em 0.5em rgba(0, 0, 0, 0.2);
      z-index: 5;
      display: flex;
      flex-direction: column;
      height: 100vh;
      color: black;
      width: 0;
      overflow-x: hidden;

      &.open {
        width: 20em;
        padding: 3em 1em;
      }

      .nav-menu-item {
        display: block;
        margin: 0.5em 0;
      }
    }
  }
}
