@import "../../theme-variables.scss";

.setup-page {
  .setup-container {
    .setup-card-container {
      height: 70vh;
      overflow: auto;
      padding: 1em;
    }
  }

  .side-nav {
    a.active {
      color: $primary-color;
      font-weight: bold;
    }
  }
}
