@import '../../theme-variables.scss';

.tool-tip {
  position: relative;

  .header {
    cursor: pointer;
  }
  .content {
    display: none;
    position: absolute;
    background-color: white;
    border-radius: 4px;
    padding: 8px;
    z-index: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }

  &:hover {
    .content {
      display: block;
    }
  }
}
